@import url('https://fonts.googleapis.com/css2?family=Jacquard+12&family=Jersey+10&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=Jersey+20&display=swap');




.enemy-frame {
  position: relative;
  width: 1000px;   /* frame teljes szélessége */
  height: 600px;  /* frame teljes magassága */
}

.frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  z-index: 20;
}

.character {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  z-index: 10;
}

.name {
  position: absolute;
  bottom: 385px;  /* frame tetejétől picit fentebb */
  width: 100%;
  text-align: center;
  font-weight: bold;
  color: rgb(255, 0, 0);
  font-size: 20px;
  font-family: 'Jersey 20', sans-serif;
  text-shadow: 1px 1px 3px black;
  z-index: 30;
}

/* HP sáv a frame belsejében */
.hp-bar-bg {
  position: absolute;
  bottom: 194px;          /* a frame aljától picit fentebb */
  left: 50%;
  transform: translateX(-50%);
  width: 43%;             /* a frame szélességének 80%-a */
  height: 12px;           /* állítható a frame arányaihoz */
  background-color: rgba(0,0,0,0.5);
  border-radius: 10px;
  z-index: 30;
}

.hp-bar-fill {
  height: 100%;
  background-color: red;
  border-radius: 10px;
  transition: width 0.3s ease;
}

.hp-text {
  position: absolute;
  bottom: 193px;           /* HP sáv felett */
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 10px;
  z-index: 30;
}
