/* frontend/src/components/HPPopup.css */
@import url('https://fonts.googleapis.com/css2?family=Jacquard+12&family=Jersey+10&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=Jersey+20&display=swap');

.hp-popup {
  position: absolute;
  left: 50%;
  top: -10px; /* a frame fölött picivel */
  transform: translateX(-50%);
  font-weight: bold;
  font-size: 18px;
  opacity: 1;
  animation: floatUp 0.8s forwards;
  pointer-events: none;
  z-index: 50;
}

.hp-popup.damage {
  color: red;
  text-shadow: 1px 1px 3px black;
  font-family: "Jersey 10", sans-serif;
  font-size: 80px;
}

.hp-popup.damage.crit {
  color: #ffd700;               /* aranysárga */
  text-shadow: 0 0 10px #ffd700, 1px 1px 4px black;
  font-size: 90px;              /* kicsit nagyobb mint sima sebzés */
}

.hp-popup.heal {
  color: lime;
  text-shadow: 1px 1px 3px black;
  font-family: "Jersey 10", sans-serif;
  font-size: 80px;
}

.hp-popup.pet-hit {
  left: 65%;              /* ← állítsd (55-75% között jó) */
}

.hp-popup.damage.pet-hit {
  color: white;
  text-shadow: 0 0 10px rgba(255,255,255,0.35), 1px 1px 3px black;
}

/* ha pet-hit crit is lehet (opcionális) */
.hp-popup.damage.crit.pet-hit {
  color: #ffffff;
  text-shadow: 0 0 14px rgba(255,255,255,0.65), 0 0 6px rgba(255,255,255,0.35), 1px 1px 4px black;
}

@keyframes floatUp {
  0% { transform: translateX(-50%) translateY(0); opacity: 1; }
  100% { transform: translateX(-50%) translateY(-40px); opacity: 0; }
}
