@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');



/* Háttér */
.loading-bg {
  position: fixed;
  inset: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  color: white;
  text-align: center;
}

/* Cím */
.jt {
  position: relative;
  font-size: 100px;
  font-family: "Jersey 10", sans-serif;
  text-transform: uppercase;
  font-display: swap;
  text-shadow: 0 0 10px tomato;
}

.jt__row {
  display: block;
}
.jt__row:nth-child(1) {
  clip-path: polygon(-10% 75%, 110% 75%, 110% 110%, -10% 110%);
}
.jt__row:nth-child(2) {
  clip-path: polygon(-10% 50%, 110% 50%, 110% 75.3%, -10% 75.3%);
}
.jt__row:nth-child(3) {
  clip-path: polygon(-10% 25%, 110% 25%, 110% 50.3%, -10% 50.3%);
}
.jt__row:nth-child(4) {
  clip-path: polygon(-10% 0%, 110% 0%, 110% 25.3%, -10% 25.3%);
}

.jt__row.jt__row--sibling {
  position: absolute;
  top: 0;
  left: 0;
  user-select: none;
  width:800px;
}

.jt__text {
  display: block;
  transform-origin: bottom left;
  animation: moveIn 2s 0s cubic-bezier(.36,0,.06,1) alternate infinite ;
}
.jt__row:nth-child(1) .jt__text {
  transform: translateY(-0.1em);
}
.jt__row:nth-child(2) .jt__text {
  transform: translateY(-0.3em) scaleY(1.1);
}
.jt__row:nth-child(3) .jt__text {
  transform: translateY(-0.5em) scaleY(1.2) ;
}
.jt__row:nth-child(4) .jt__text {
  transform: translateY(-0.7em) scaleY(1.3) ;
}
.jt__row:nth-child(5) .jt__text {
  transform: translateY(-0.9em) scaleY(1.4) ;
}
.jt__row:nth-child(6) .jt__text {
  transform: translateY(-1.1em) scaleY(1.5) ;
}

@keyframes moveIn {
  50%, 100% { 
    transform: translateY(0em)
  }
  0%   { 
  opacity: 0; 
  filter: blur(10px);
  
  }
  100% { 
  opacity: 1; 
  filter: blur(0px);
  }
}



.debug .jt__row:nth-child(even) {
  color: black;
  background: white;
}
.debug .jt__row:nth-child(odd) {
  color: white;
  background: black;
}

* { box-sizing: border-box }

html, body {
  margin: 0;
  background: black;
  color: tomato;
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* COUNTDOWN szám – slide-down animáció minden változáskor */
.countdown-number {
  font-family: "Jersey 10", monospace;
  font-size: 7rem;
  color: white;
  position: relative;
  display: inline-block;
  overflow: hidden;
  height: 1em;
}

.countdown-number span {
  display: block;
  animation: slideDown 0.5s ease forwards;
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
    opacity: 0;
    color: red;
  }
  20% {
    transform: translateY(-20%);
    opacity: 1;
    text-shadow: 0 0 8px #ff5757;
    color: #ff5757;

  }
  70% {
    transform: translateY(-20%);
    opacity: 1;
    color: rgb(255, 255, 255);
    
  }
  100%{
    opacity: 0;
    transform: translateY(0%);
    color: red;
  }
}

/* Tipp */
.loading-tip {
  font-size: 22px;
  font-family: "Jersey 10", sans-serif;
  font-style: italic;
  cursor: pointer;
  padding: 10px 20px;
  transition: 0.25s;
}

.loading-tip:hover {
  text-shadow: 0 0 8px #fff;
  transform: scale(1.05);
}


