@import url('https://fonts.googleapis.com/css2?family=Jacquard+12&family=Jersey+10&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=Jersey+20&display=swap');

.path-choice-bg{
    image-rendering: pixelated;

}
html, body {
  overflow: hidden;
  height: 100%;
}
.valasztas{
    font-family: "Jersey 10", sans-serif;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 3px;
    text-shadow: 0 0 5px #000000cc;
}
.pixelfont{
    font-family: "Jersey 10", sans-serif;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 3px;
    text-shadow: 0 0 5px #000000cc;
}

.pixelosvenyvalaszt{
    font-family: "Jersey 10", sans-serif;
    text-transform: uppercase;
    font-size: 80px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 3px;
    text-shadow: 0 0 5px #000000cc;
    margin-top: 20px;
}