@import url('https://fonts.googleapis.com/css2?family=Jacquard+12&family=Jersey+10&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=Jersey+20&display=swap');


.title{
    font-family: "Jersey 10", sans-serif;
    color: red;
}